
<div class="contenedor-form">
    <div class="toggle">
        <span> Crear Cuenta</span>
    </div>
    
    <div class="formulario">
        <h2>Tienda Sport</h2>
        <h3>Iniciar Sesión</h3>
        <form action="#">
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            
            <a href="#" routerLink="/Catag" ><input type="button" value="Iniciar Sesión"></a>
          
        </form>
    </div>
    
    <div class="formulario">
        <h2>Crea tu Cuenta</h2>
        <form action="#">
            <input type="text" placeholder="Usuario" required>
            
            <input type="password" placeholder="Contraseña" required>
            
            <input type="email" placeholder="Correo Electronico" required>
            
            <input type="text" placeholder="Teléfono" required>
            
          
        </form>
    </div>
    <div class="reset-password">
        <a href="contactenos.html">Olvide mi Contraseña?</a>
    </div>
</div>